:root {
  /* Couleurs principales */
  --primary-color: #c47c44;
  --secondary-color: rgba(255, 0, 0, 0.7);
  --background-color: rgb(245, 245, 245);
  --text-color: #333;

  /* Typographie */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-xxxl: 2rem;
  --font-fam: oswald, sans-serif;

  /* Espacements */
  --spacing-xs: 0.5rem;
  --spacing-xm: 0.75rem;
  --spacing-sm: 1rem;
  --spacing-sd: 1.25rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;

  /* Bordures et Radius */
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;

  /* Ombres */
  --box-shadow-sm: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-md: 0px 4px 8px rgba(0, 0, 0, 0.15);
  --box-shadow-lg: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
