@import url("../../variable.css");
.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-md);
}

.title-home {
  font-size: var(--font-size-xxl);
  margin-bottom: var(--spacing-md);
}

.form-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--spacing-md);
}

.form-home input {
  padding: var(--spacing-md);
  font-size: var(--font-size-base);
  border: var(--border-radius-sm) solid #ccc;
  border-radius: var(--border-radius-md);
  margin-bottom: var(--spacing-sm);
  width: calc(var(--spacing-md) * 10);
}

.form-home input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.button-home {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-base);
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-home:hover {
  background-color: #0056b3;
}

article {
  width: 100%;
  max-width: 800px;
}

article h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

article div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article div > div {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  text-align: center;
}

article div img {
  margin-bottom: 10px;
}

article div button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

article div button:hover {
  background-color: #218838;
}
