@import url("../../variable.css");

body {
  font-family: var(--font-fam);
  background-color: #f8f5f2;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  background-image: url("src/assets/images/keatchen.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  line-height: 1.5;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-md);
  max-width: calc(var(--spacing-sm) * 75);
  margin: auto;
}

.title-home {
  font-size: var(--font-size-xxl);
  font-weight: bold;
  margin-bottom: var(--spacing-md);
  color: var(--primary-color);
  text-align: center;
}

.form-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow-md);
  margin-bottom: var(--spacing-md);
  width: 90%;
  max-width: calc(var(--spacing-sm) * 31.5);
}

.form-home input {
  padding: var(--spacing-sm);
  font-size: var(--font-size-base);
  border: 2px solid #e0c2a2;
  border-radius: var(--border-radius-md);
  width: 100%;
  margin-bottom: var(--spacing-sm);
}

.form-home input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.button-home {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-base);
  font-weight: bold;
  color: var(--background-color);
  width: 80%;
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-home:hover {
  background-color: #a56736;
  transform: scale(1.05);
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 5rem;
  padding: var(--spacing-md);
  width: 100%;
  max-width: calc(var(--spacing-sm) * 75);
  justify-items: center;
}

.recipe-card {
  background: var(--background-color);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow-md);
  overflow: hidden;
  text-align: center;
  padding: var(--spacing-md);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(var(--spacing-sm) * 25);

  width: 100%;
}

.recipe-card:hover {
  transform: scale(1.03);
}

.recipe-card h3 {
  font-size: var(--font-size-xl);
  margin-bottom: var(--spacing-sm);
  color: var(--primary-color);
}

.recipe-card img {
  width: 100%;
  border-radius: var(--border-radius-md);
  max-height: calc(var(--spacing-sm) * 10);
  object-fit: cover;
}

.recipe-card p {
  font-size: var(--font-size-sm);
  color: #555;
  padding: var(--spacing-sm);
  flex-grow: 1;
}

.recipe-card button {
  padding: var(--spacing-sm) var(--spacing-lg);
  font-size: var(--font-size-base);
  font-weight: bold;
  color: var(--background-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: var(--spacing-sm);
  text-transform: uppercase;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.recipe-card button:hover {
  background-color: #a56736;
  transform: scale(1.05);
}

.fav-popup {
  position: fixed;
  top: var(--spacing-md);
  right: var(--spacing-md);
  background: var(--primary-color);
  color: var(--background-color);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius-md);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fav-popup.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .recipes-grid {
    grid-template-columns: 1fr;
    padding: 0;
    justify-items: center;
  }

  .recipe-card {
    width: 90%;
    margin: auto;
  }
}
