@import url("../../variable.css");
.header {
  background-image: url("/src/assets/images/Girl-kitchen.jpg");
  background-size: cover;
  background-position: center;
  padding: calc(var(--spacing-sm) * 3) 0;
  color: var(--background-color);
  text-align: center;
  position: relative;
}

.header-title {
  font-size: var(--font-size-xxxl);
  font-family: oswald, sans-serif;
  margin-bottom: var(--spacing-md);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: var(--spacing-md);
}

.nav-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--background-color);
  border: none;
  padding: var(--spacing-xs) var(--spacing-md);
  border-radius: 5px;
  font-size: var(--font-size-base);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.home-button {
  background-color: var(--primary-color);
}

.favorites-button {
  background-color: var(--secondary-color);
}

.nav-button i {
  font-size: var(--font-size-xl);
}

.header-content {
  position: relative;
  z-index: 2;
}

.nav-button.favorites-button {
  text-decoration: none;
}

.nav-button.create-recipe-button {
  text-decoration: none;
}

.nav-button.home-button {
  text-decoration: none;
}

@media (max-width: 768px) {
  .header-title {
    font-size: var(--font-size-xxl);
  }

  .header-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
  }
}
