@import url("../../variable.css");
.recipe-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f9f9f9;
  border-radius: var(--border-radius-md);
  padding: var(--spacing-md);
  width: 100%;
  max-width: calc(var(--spacing-sm) * 37.5);
  margin: var(--spacing-lg) auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title-recipe-form {
  font-size: var(--font-size-xxl);
  margin-bottom: var(--spacing-md);
  color: #4e4e4e;
  font-family: oswald, sans-serif;
}

.label-recipe-form {
  font-size: var(--font-size-base);
  color: var(--text-color);
  margin-bottom: var(--spacing-xs);
  display: block;
  font-weight: bold;
}

input[type="text"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: var(--spacing-md);
  border: 2px solid #ddd;
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-base);
  color: var(--text-color);
  transition: border-color 0.3s;
}

input[type="text"]:focus,
textarea:focus,
input[type="file"]:focus {
  border-color: var(--primary-color);
  outline: none;
}

textarea {
  resize: vertical;
  height: calc(var(--spacing-sm) * 9.5);
}

.recipe-form__button {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: var(--spacing-xs) var(--font-size-lg);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-size: var(--font-size-base);
  transition: background-color 0.3s, transform 0.3s;
}

.recipe-form__button:hover {
  background-color: #a56736;
  transform: translateY(-2px);
}

.recipe-form__button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.delete-button-recipe-form {
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 6px var(--font-size-xs);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: var(--font-size-lg);
  transition: background-color 0.3s;
}

.delete-button-recipe-form:hover {
  background-color: #ff1a1a;
}

.ingredients-section {
  width: 100%;
  margin-bottom: var(--font-size-lg);
}

.ingredient-item {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-sm);
  gap: var(--spacing-xs);
}

.ingredient-item input {
  width: 45%;
  padding: var(--spacing-xs);
  font-size: var(--font-size-base);
  border: 2px solid #ddd;
  border-radius: var(--border-radius-sm);
}

.ingredient-item input:focus {
  border-color: var(--primary-color);
}

.add-button-recipe-form {
  background-color: #4caf50;
  color: var(--background-color);
  font-size: var(--font-size-base);
  padding: var(--spacing-xm) var(--spacing-md);
  margin-top: var(--spacing-xm);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.add-button-recipe-form:hover {
  background-color: #45a049;
}

.submit-button-recipe-form {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: var(--spacing-xm);
  font-size: var(--font-size-base);
  text-transform: uppercase;
  margin-top: var(--font-size-lg);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button-recipe-form:hover {
  background-color: #a56736;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .recipe-form {
    padding: var(--font-size-lg);
  }

  h2 {
    font-size: var(--font-size-xl);
  }

  .ingredient-item input {
    width: 40%;
  }

  .submit-button-recipe-form {
    font-size: var(--font-size-base);
  }

  .recipe-form__button {
    font-size: var(--font-size-base);
  }

  .add-button-recipe-form,
  .delete-button-recipe-form {
    padding: 8px 16px;
  }
}
